modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["php83"]

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5555
externalPort = 3000

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Dev Server"
author = 38304816
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 38304816
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd laravel-backend && php artisan serve --host=0.0.0.0 --port=8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 38304816
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd laravel-backend && php artisan serve --host=0.0.0.0 --port=8000"

[[workflows.workflow]]
name = "backend"
mode = "parallel"
author = 38304816

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve"

[[workflows.workflow]]
name = "Production"
author = 38304816
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Frontend Dev"
author = 38304816
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
